{% extends "base.html" %}
{% block content %}

<!-- Nav bar -->
<div class="container">
    <nav class="navbar navbar-toggler-left bg-inverse nav-bar-main">
        <h1 class="tables-main">tables</h1>
        <a href="/logout"><button type="submit" class="btn btn-outline-danger navbar-toggler-right leave-room-butt">LEAVE ROOM</button></a>
         <a href=""><button type="submit" class="btn btn-outline-info navbar-toggler-right leave-room-butt">HELP</button></a>
        <a href=""><button type="submit" class="btn btn-outline-primary navbar-toggler-right leave-room-butt">Made By Sidhant</button></a>
        <p class="room-id-text">Room ID: {{ room_id }}</p>
    </nav>
</div>
<!--End Nav Bar-->

<div class="container row table-match-leader">

    <div class="col-md-4 settings">
        <a class="btn btn-outline-secondary togg-but" data-toggle="collapse" href="#multiCollapseADDMATCH" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
         ADD MATCH
         </a>
        <div class="collapse multi-collapse" id="multiCollapseADDMATCH">
            <div class="card card-body">
                <form class="form-add" action="/matches/add" method="post">
                    <div class="form-group">
                        <label for="p1">PLAYER NAME(1)</label>
                        <input type="text" id="p1" class="form-control" name="p1">
                    </div>
                    <div class="form-group">
                        <label for="p2">PLAYER NAME(2)</label>
                        <input type="text" id="p2" class="form-control" name="p2">
                    </div>
                    <div class="form-group">
                        <label for="p1score">SCORE(1)</label>
                        <input type="number" id="p1score" class="form-control" name="p1score">
                    </div>
                    <div class="form-group">
                        <label for="p2score">SCORE(2)</label>
                        <input type="number" id="p2score" class="form-control" name="p2score">
                    </div>
                    <div class="form-group">
                        <label for="ppassword">PASSWORD</label>
                        <input type="password" id="ppassword" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-outline-success form-butt">ADD GAME</button>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-outline-secondary togg-but" data-toggle="collapse" href="#multiCollapseADDPLAYER" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
         ADD PLAYER
         </a>
        <div class="collapse multi-collapse" id="multiCollapseADDPLAYER">
            <div class="card card-body">
                <form class="form-add" action="/players/add" method="post">
                    <div class="form-group">
                        <label for="player_name">NAME</label>
                        <input type="text" id="player_name" class="form-control" name="player_name">
                    </div>
                    <div class="form-group">
                        <label for="password">PASSWORD</label>
                        <input type="password" id="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-outline-success form-butt">ADD PLAYER</button>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-outline-secondary togg-but" data-toggle="collapse" href="#multiCollapseREMPLAYER" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
         REMOVE PLAYER
         </a>
        <div class="collapse multi-collapse" id="multiCollapseREMPLAYER">
            <div class="card card-body">
                <form class="form-add" action="/players/remove" method="post">
                    <div class="form-group">
                        <label for="player_name">NAME</label>
                        <input type="text" id="remove_player_name" class="form-control" name="player_name">
                    </div>
                    <div class="form-group">
                        <label for="password">PASSWORD</label>
                        <input type="password" id="remove_password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-outline-danger form-butt">REMOVE PLAYER</button>
                </form>
            </div>
        </div>
        <br>

        <a class="btn btn-outline-secondary togg-but" data-toggle="collapse" href="#multiCollapseSETTINGS" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
         SETTINGS
         </a>
        <div class="collapse multi-collapse" id="multiCollapseSETTINGS">
            <div class="card card-body">

                <form class="form-add" action="/setting/points" method="post">
                    <div class="form-group">
                        <label for="ppw">POINTS PER WIN</label>
                        <input type="number" id="ppw" class="form-control" name="ppw">
                    </div>
                    <div class="form-group">
                        <label for="ppd">POINTS PER DRAW</label>
                        <input type="number" id="ppd" class="form-control" name="ppd">
                    </div>
                    <div class="form-group">
                        <label for="password">PASSWORD</label>
                        <input type="password" id="ppw_pass" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-outline-success form-butt">UPDATE</button>
                </form>



            </div>

        </div>

              <div class="container last-5">
                <h4 class="labels-for-tables">LAST 5 MATCHES</h4>
                <table class="table last-5-table">
                    <thead>
                        <tr class="table-headers">
                            <th scope="col" class="table-match-label">Name</th>
                            <th scope="col" class="table-match-label">Score</th>
                            <th scope="col" class="table-match-label">Score</th>
                            <th scope="col" class="table-match-label">Name</th>
                        </tr>
                    </thead>
                    <tbody class="table-body-class" id="table-top-5-body">
                        {% for match in matches %}
                        <tr>
                            <td>{{ match.p1 }}</td>
                            <td>({{ match.p1score }})</td>
                            <td>({{ match.p2score }})</td>
                            <td>{{ match.p2 }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    </div>


    <div class="col-md-8 recent-matches-div">
        <h4 class="labels-for-tables">TABLE</h4>
        <table class="table">
            <thead>
                <tr class="table-headers">
                    <th scope="col">Name</th>
                    <th scope="col">GP</th>
                    <th scope="col">W</th>
                    <th scope="col">L</th>
                    <th scope="col">D</th>
                    <th scope="col">P</th>
                </tr>
            </thead>
            <tbody class="table-body-class">
                {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{{ player.games_played }}</td>
                    <td>{{ player.wins }}</td>
                    <td>{{ player.loss }}</td>
                    <td>{{ player.draw }}</td>
                    <td>{{ player.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}