{% extends "base.html" %} {% block content %}
<div class="container page-form">
    <div id="create-room-label">
        <h1 class="tables-main">tables - create a room</h1>
    </div>
    <form class="login-form" action="/auth/register" method="post">
        <div class="form-group">
            <label for="name" class="login-form-label">NAME</label>
            <input type="text" id="name" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="password" class="login-form-label">PASSWORD</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label for="password" class="login-form-label">CONFIRM PASSWORD</label>
            <input type="password" id="confirm_password" class="form-control" name="confirm_password">
        </div>
        <button type="submit" class="btn btn-outline-success log-butt">SIGN UP</button>
    </form>
</div>
<div class="container sign-up-div">
    <a href="/login"><button class="btn btn-outline-warning sign-up log-butt">LOG IN</button></a>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom foot" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <p>© made by sid | <a target="_blank" href="https://docs.google.com/document/d/1tC4qbq-6k7bVNk4xTGUrVT59FhQvbJ_ocmVoWYIZTvU/edit?usp=sharing">user-guide</a></p>
        </div>
    </div>
</div>
    {% endblock %}