{% extends "base.html" %} {% block content %}

<div class="container">

    <h1 class="tables-main" id="table-stat">tablez</h1>
    <h1 id="stat-name-label"><i>{{ player.name }}</i></h1>
    <br>

    <div class="container row table-match-leader table-body-class">
        <div class="col-sm stat-col">
            <h4 class="labels-for-tables-stat">CURRENT SEASON</h4>
            <p>GAMES PLAYED: <strong>{{ player.games_played }}</strong></p>
            <p>GAMES WON: <strong>{{ player.wins }}</strong></p>
            <p>GAMES LOST: <strong>{{ player.loss }}</strong></p>
            <p>GAMES DREW: <strong>{{ player.draw }}</strong></p>
            <p>POINTS EARNED: <strong>{{ player.points }}</strong></p>
            <p>WIN RATE: <strong>{{ current_rate }}%</strong></p>
            <br>
            <div>
                <h4 class="labels-for-tables-stat" id="tourney-history-label">PREVIOUS SEASONS</h4>
                <p>GAMES PLAYED: <strong>{{ playerAll.games_played }}</strong></p>
                <p>GAMES WON: <strong>{{ playerAll.wins }}</strong></p>
                <p>GAMES LOST: <strong>{{ playerAll.loss }}</strong></p>
                <p>GAMES DREW: <strong>{{ playerAll.draw }}</strong></p>
                <p>POINTS EARNED: <strong>{{ playerAll.points }}</strong></p>
                <p>WIN RATE: <strong>{{ ovr_rate }}%</strong></p>
                <p>TROPHIES WON: <strong>{{ player.tourneys_won }}</strong></p>
            </div>
        </div>
        <div class="col-sm">
            <h4 class="labels-for-tables">MATCHES</h4>
            <table class="table last-5-table" id="stat-table-matches">
                <thead>
                    <tr class="table-headers">
                        <th scope="col" class="table-match-label">Name</th>
                        <th scope="col" class="table-match-label">Score</th>
                        <th scope="col" class="table-match-label">Score</th>
                        <th scope="col" class="table-match-label">Name</th>
                    </tr>
                </thead>
                <tbody class="table-body-class" id="table-top-5-body">
                    {% for match in matches %}
                    <tr>
                        <td>{{ match.p1 }}</td>
                        <td>({{ match.p1score }})</td>
                        <td>({{ match.p2score }})</td>
                        <td>{{ match.p2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>

{% endblock %}