a{
    color: white;
}

.login-form-label{
    font-family: 'News Cycle', sans-serif;
}

#table-match-label{
    background-color:rgb(228,228,228);

}

.form-butt{
    width:100%;
    align:center;
}

.form-add label{
    font-family: 'News Cycle', sans-serif;
    font-size: 7.5px;
}

.table-body-class{
    font-family: 'Roboto Condensed', sans-serif;
}


.leave-room-butt{
    font-family: 'Pathway Gothic One', sans-serif;
}

.last-5-table{
    background-color: rgb(98,98,98);
    font-family: 'Oswald', sans-serif;
}

.log-butt{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size:20px;
}

label{
    color:rgb(48,48,48);
}

.last-5{
    padding-top: 20px;
    width: 275px;
    color: white;
}

.togg-but{
    width:275px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}

.card-body{
    padding:0px;
}

.foot{
    padding-top: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(98,98,98);
    color: white;
    padding: 0px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}
.settings form{
    background-color:rgb(228,228,228);
    color:white;
    padding: 8px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 8px;
}

.match-label{
    color:black;
    font-family: 'Oswald', sans-serif;
}

.labels-for-tables{
    text-align:center;
    color:rgb(98,98,98);
    font-family: 'Oswald', sans-serif;
}

.table-headers{
    background-color:rgb(228,228,228);
    color:black;
    font-family: 'News Cycle', sans-serif;
}

.recent-matches-div table{
    background-color:rgb(98,98,98);
    color:white;
    text-align:center;
    font-family: 'Oswald', sans-serif;;
}

.table-match-leader{
    padding-left: 14%;
}

.sign-up-div{
    padding-top: 5px;
}

.login-page{
    background-image: url("login-bg.jpg");
}

.login-form{
    max-width: 350px;
}

.page-form{
    padding-top: 12%;
    color: white;
}

.tables-main{
    color:rgb(98,98,98);
    padding-right: 20px;
    font-size: 80px;
}

.nav-bar-main{
    float: left;
}

.nav-bar-main a{
    padding-right:20px;
}

.room-id-text{
    font-size: 10px;
    color: black;
}

body{
    background: white;
}


