.tables-main-dash{
    color:rgb(98,98,98);
    font-size: 400%;
    padding-left: 30%;
    padding-right: 6%;
}

.nav-buttons{
    padding-left: 0%;
}

.player-setting-label{
    color:rgb(98,98,98);
}


#stat-table-matches{
    width: 100%;
    color: white;
    text-align: center;
}

#tourney-history-label{
    text-align:left;
}

.stat-table{
    color: white;
}

.labels-for-tables-stat{
    text-align:left;
    color:rgb(98,98,98);
    font-family: 'Oswald', sans-serif;
}

.stat-col{
    align: left;
}


#stat-name-label{
    color:rgb(48,48,48);
    text-align: center;
}

#table-stat{
    text-align:center;
    font-size: 800%;
}

#room_name_id{
    font-family: 'News Cycle', sans-serif;
}

a{
    color: white;
}

.login-form-label{
    font-family: 'News Cycle', sans-serif;
}

#table-match-label{
    background-color:rgb(228,228,228);

}

.form-butt{
    width:100%;
    align:center;
}

.form-add label{
    font-family: 'News Cycle', sans-serif;
    font-size: 110%;
}

.table-body-class{
    font-family: 'Roboto Condensed', sans-serif;
}


.leave-room-butt{
    font-family: 'Pathway Gothic One', sans-serif;
}

.last-5-table{
    background-color: rgb(98,98,98);
    font-family: 'Oswald', sans-serif;
}

.log-butt{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size:120%;
}

label{
    color:rgb(48,48,48);
}

.last-5{
    padding-top: 7%;
    color: white;
    text-align: center;
}

.togg-but{
    width:100%;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 110%;
}

.card-body{
    padding:0%;
}

.foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(98,98,98);
    color: white;
    padding: 0px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}
.settings form{
    background-color:rgb(228,228,228);
    color:white;
    padding: 2%;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 60%;
}

.match-label{
    color:black;
    font-family: 'Oswald', sans-serif;
}

.labels-for-tables{
    text-align:center;
    color:rgb(98,98,98);
    font-family: 'Oswald', sans-serif;
}

.table-headers{
    background-color:rgb(228,228,228);
    color:black;
    font-family: 'News Cycle', sans-serif;
}
.recent-matches-div{
    margin-top: 6%;
}

.recent-matches-div table{
    background-color:rgb(98,98,98);
    color:white;
    text-align:center;
    font-family: 'Oswald', sans-serif;;
}

.table-match-leader{
    padding-left: 14%;
}

.sign-up-div{
    padding-top: 0.50%;
}

.login-form{
    max-width: 30%;
}

.page-form{
    padding-top: 12%;
    color: white;
}

.tables-main{
    color:rgb(98,98,98);
    font-size: 500%;
}

.nav-bar-main{
    float: left;

}

.nav-bar-main a{
    padding-right: 0%;
    padding-left: 0%;
}

.room-id-text{
    font-size: 5%;
    color: black;
    padding-left: 3%;

}

body{
    background: white;
}


